body {
    margin: 0;
    padding: 0;
}

a:hover {
    color: white;
}


.header {
    border-bottom: solid 1px black;
    background-color: #0c4da2;
    padding: 20px;
}

.head p {
    font-family: 'Dela Gothic One', cursive;
    font-size: 30px;
}

.head p a {
    color: white;
    text-decoration: none;
}

.tt {
    color: red;
    margin-right: 20px;
}

@media (min-width: 768px) {
.head_1 {
    text-align: right;
}
}



header ul {
    list-style: none;
    margin-top: 10px;
    padding: 0;
}

header ul li{
    display: inline-block;
    font-size: 17px;
    color: white;
}

header ul li a {
    color: white;
    margin-right: 5px;
}

header ul li a:hover {
    color: #c1c1c7;
    text-decoration: none;
}

.head_image{
    text-align: center;
    margin-top: 50px;
}

.center {
    width: 1149px;
    margin: 0 auto;
}

#main_bar {
    clear: both;
    text-align: center;
    margin-top: 50px;
}

#main_bar ul a {
    font-weight: bold;
    border: solid 1px black;
    padding: 0.5em 4em;
    margin: 2em 1em;
    text-decoration: none;
}

#main_bar ul a li {
    display: inline-block;
    font-weight: bold;
    color: black;
}

@media (max-width: 950px) {
    #main_bar ul li {
        display: inline-block;
        padding: 0.5em 1em;
        margin: 2em .5em;
        font-weight: bold;
        background: #FFF;
        border: solid 1px #dddddd;
    }
}



#side_bar {
    text-align: center;
    margin-top: 50px;
    padding: 0;
}

#side_bar ul {
    padding: 0;
}

#side_bar ul li {
    display: inline-block;
    margin-right: 6px;
}

#side_bar ul li a {
    text-decoration: none;
    color: black;
}

#side_bar ul li :hover {
    color: rgb(189, 183, 183);
}

.main_visual {
    margin-top: 100px;
}

.products {
    margin-top: 50px;
}

.products p {
    border-bottom: 1px solid #dddddd;
    font-weight: 800;
}

.image_1 {
    width: 233px;
    height: 315px;
    border: solid 1px #dddddd;
    transition: transform 0.5s;
}

.image_1:hover {
    transform: scale(1.1);
}

.image_1 a:hover {
    text-decoration: none;
    
}

.images div {
    margin: 10px 10px;
    font-size: smaller;
    color: black;
}

footer {
    margin-top: 150px;
    text-align: center;
    border-top: 1px solid #dddddd;
    background-color: #0c4da2;
}

.page_top {
    margin-bottom: 0;
    height: 100px;
    margin: 55px 0 0 0;
}

.page_top a {
    color: white;
}

.page_top a:hover {
    text-decoration: none;
    color: #c1c1c7;
}

/* ここからcreate.php */

.content {
    margin-top: 100px;
}

.new {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.entry {
    width: 480px;
    border: .5px solid #dddddd;
    padding: 10px;
    margin: 0 auto;
}

.title {
    margin: 10px 0 10px 0;
    font-size: 20px;
    font-weight: 800;
}

.entry .type div input {
    height: 40px;
    width: 450px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #dddddd;
    background-color: #f7f4f4;
}

.submit {
    margin-top: 30px;
}

.error {
    font-size: 15px;
    color: red;
    margin-top: 0;
    margin-bottom: 0;
}

/* check.php */

.bt input {
    font-size: 20px;
    margin-right: 70px;
}

.type textarea {
    height: 100px;
    width: 450px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #dddddd;
    background-color: #f7f4f4;
}

/* racket.php */

.head_image_1 {
    text-align: center;
    height: 100px;
    font-size: 30px;
    background-color: blueviolet;
    color: white;
}

.head_image_1 p {
    line-height: 100px;
}

/* スリック機能 */

.slick01 {
    margin: 0;
    padding: 0;
    width: 100%;
}

.slick01 > li {
    width: 100%;
    height: 500px;
}

.slick01 img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* スリック矢印 */

.slick01{
	position: relative;
}
.slick01 .prev{
	position: absolute;
	top: 590px;
	bottom: 0;
	left: 640px;
	margin: auto;
	width: 30px;
	height: 30px;
    font-size: 40px;
	z-index: 1;
}
.slick01 .next{
	position: absolute;
	top: 590px;
	right: 600px;
	bottom: 0;
	margin: auto;
	width: 30px;
	height: 30px;
	z-index: 1;
    font-size: 40px;
}

/* スリック点 */

.slick-dots {
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    margin-top: 30px;
}

.slick-dots li button {
    background: transparent;   
    border:0;   
    font-size: 0pt; 
    outline: none;
}

.slick-dots .slick-active button::before {
    color: red;
}

.slick-dots li button::before {
    content: "•";
    width: 20px;
    height: 20px;
    font-family: "slick";
    font-size: 100px;
    line-height: 20px;
    text-align: center;
    color: black;
    opacity: 0.25;
  }

/* スリック機能ここまで */

/* タブ機能 */

.tabs-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tabs-menu .tab {
    float: left;
    width: 383px;
    padding: 0;
    margin: 0 0 -1px 0;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    /* 透明の指定 */
    border-color: transparent;
    border-radius: 4px 4px 0 0;
    /* 各プロパティをふわっと変える演出 */
    transition: all .15s;
}

.tabs-menu a {
    display: block;
    padding: 10px 20px;
    color: #557F95;
    text-decoration: none;
}

/* :not(セレクタ) → ()に一致しない要素を選択 */
.tabs-menu li:not(.active):hover {
    border-color: #f0f0f0 #f0f0f0 #999;
    background-color: #f0f0f0;
}

.tabs-menu .active {
    border-color: #999 #999 transparent #999;
    background-color: #fff;
}

.tabs-menu .active a {
    color: #3F4548;
}

.tabs-content {
    /* 回り込みの解除 */
    clear: both;
    border: 1px solid #999;
    border-radius: 0 4px 4px 4px;
    padding: 10px;
    width: 1149px;
    height: 700px;
}

.tabs-content > div {
    display: none;
}

/* 383 */
.tables {
    border-bottom: 1px solid black;
}

.tables th, .tables td {
    padding: 20px 0;
}

.tabs-2 {
    text-align: center;
}

/* コメント一覧 */
.comment {
    width: 1110px;
    text-align: left;
}

.line {
    border-bottom: 1px solid black;
}

.comment_2 td {
    padding: 0 0 50px;
}

/* ページネーション機能 */
.figure {
    margin: 10px 20px;
}

.chart {
    display: inline-block;
    height: 250px;
    width: 250px;
    margin: 20px 0 10px 120px;
}

.tabs-3-1 {
    display: inline-block;
    margin: 20px 20px 10px 10px;
}

.tabs-3-2 {
    margin-bottom: 40px;
}

/* マイページのタブ */
.tabs-menu .my_page {
    display: inline-block;
    width: 300px;
    padding: 0;
    margin: 0 0 -1px 0;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    /* 透明の指定 */
    border-color: transparent;
    border-radius: 4px 4px 0 0;
    /* 各プロパティをふわっと変える演出 */
    transition: all .15s;
}

.user_name {
    clear: both;
    display: inline-block;
}

.my_page_1 {
    height: 400px;
}

.tabs-content .setting {
    display: flex;
}

.setting_1 {
    flex-grow: 1;
    text-align: center;
    margin-top: 30px;
}

.setting_2 {
    flex-grow: 1;
    margin-top: 30px;
    text-align: center;
}

.setting_3 {
    margin-bottom: 30px;
}

.setting_3 label {
    width: 200px;
}
