body {
    margin: 0;
    padding: 0;
}

a:hover {
    color: white;
}


.header {
    border-bottom: solid 1px black;
    background-color: #0c4da2;
    padding: 20px;
}

.head p {
    font-family: 'Dela Gothic One', cursive;
    font-size: 30px;
}

.head p a {
    color: white;
    text-decoration: none;
}

.tt {
    color: red;
    margin-right: 20px;
}

@media (min-width: 768px) {
.head_1 {
    text-align: right;
}
}



header ul {
    list-style: none;
    margin-top: 10px;
    padding: 0;
}

header ul li{
    display: inline-block;
    margin-right: 30px;
}

header ul li a {
    color: white;
}

header ul li a:hover {
    color: #c1c1c7;
    text-decoration: none;
}

.head_image{
    text-align: center;
    margin-top: 50px;
}

.center {
    width: 1150px;
    margin: 0 auto;
}

#main_bar {
    clear: both;
    text-align: center;
    margin-top: 50px;
}

#main_bar ul a {
    font-weight: bold;
    border: solid 1px black;
    padding: 0.5em 4em;
    margin: 2em 1em;
    text-decoration: none;
}

#main_bar ul a li {
    display: inline-block;
    font-weight: bold;
    color: black;
}

@media (max-width: 950px) {
    #main_bar ul li {
        display: inline-block;
        padding: 0.5em 1em;
        margin: 2em .5em;
        font-weight: bold;
        background: #FFF;
        border: solid 1px #dddddd;
    }
}



#side_bar {
    margin-top: 50px;
    padding: 0;
}

#side_bar ul {
    padding: 0;
}

#side_bar ul li {
    display: inline-block;
    margin-right: 6px;
}

#side_bar ul li a {
    text-decoration: none;
    color: black;
}

#side_bar ul li :hover {
    color: rgb(189, 183, 183);
}

.main_visual {
    margin-top: 100px;
}

.products {
    margin-top: 50px;
}

.products p {
    border-bottom: 1px solid #dddddd;
    font-weight: 800;
}

.image_1 {
    width: 233px;
    height: 315px;
    border: solid 1px #dddddd;
    transition: transform 0.5s;
}

.image_1:hover {
    transform: scale(1.1);
}

.image_1 a:hover {
    text-decoration: none;
    
}

.images div {
    margin: 10px 10px;
    font-size: smaller;
    color: black;
}

footer {
    margin-top: 150px;
    text-align: center;
    border-top: 1px solid #dddddd;
    background-color: #0c4da2;
}

.page_top {
    margin-bottom: 0;
    height: 100px;
    margin: 55px 0 0 0;
}

.page_top a {
    color: white;
}

.page_top a:hover {
    text-decoration: none;
    color: #c1c1c7;
}

/* ここからcreate.php */

.content {
    margin-top: 100px;
}

.new {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.entry {
    width: 480px;
    border: .5px solid #dddddd;
    padding: 10px;
    margin: 0 auto;
}

.title {
    margin: 10px 0 10px 0;
    font-size: 20px;
    font-weight: 800;
}

.entry .type div input {
    height: 40px;
    width: 450px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #dddddd;
    background-color: #f7f4f4;
}

.submit {
    margin-top: 30px;
}

.error {
    font-size: 15px;
    color: red;
    margin-top: 0;
    margin-bottom: 0;
}

/* check.php */

.bt input {
    font-size: 20px;
    margin-right: 70px;
}

.type textarea {
    height: 100px;
    width: 450px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #dddddd;
    background-color: #f7f4f4;
}